*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Arimo', sans-serif;
}
nav{
	i{
		margin-top: 8px;
		color: #CC0D0D;
	}
	a{
		font-size: 18px;
		font-weight: bolder;
	}
}
.navbar-default{
	background-color: white;
}
.dropdown{
	button{
		position: relative;
		right: 20px;
		margin-top: 8px;
		border-radius: 0px;
		background-color: #E1DFDF;
		border-left: black;
		border-color: #E1DFDF;
		color: #969696;
		font-weight: bolder;
	}
}
.icon-times{
	color: #BFBFBF;
	position: relative;
	right: 20px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color:#BFBFBF;
}
.fa-pinterest:before{
	font-size: 30px;	
}
.navbar-form{
	.form-control{
		font-family: 'Arimo', sans-serif !important;
		width: 800px;
		border-radius: 0px;
		background-color: #E1DFDF;
		border-color: #E1DFDF;
	}
}
.container{
	width: 90%;
	padding: 15px auto;
	margin: 0px 135px;
}
.img-datos{
	width: 200px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	border-color: white;

	img{
		width: 200px;
		border-radius: 10px;
	}
	p{
		padding: 10px;
		font-size: 13px;
	}

}
.pint-title{
	font-family: 'Arimo', sans-serif;
	color: #ABABAB;
	font-size: 2em;
	font-weight: bolder;
}

.img-datos2{
	
	margin: 5px;
	display: flex;
	align-items:center;
	flex-direction: column;
	img{
		border-radius: 10px;
	}

	p{
		text-align:left;
		width: 564px;
		padding:5px;
	}

	.header{
		flex-direction:row;
		width: 564px;
		flex-align:'flex-start';

		.fa{
			font-size:20px;
			padding-top: 20px;
		}
		.button{
			align-self:'flex-end';
		}
	}

	.title{
			font-size:20px;
			font-weight: 700;
			padding-top: 10px auto;
	}

}